@font-face {
  font-family: "Norse Bold";
  src: url("./fonts/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.background, .content {
  height: max(100vh, 700px);
}

.background {
  position: relative;
  width: max(35vw, 300px);
}

.content {
  width: 65vw;
}

.bg-image {
  width: inherit;
  height: inherit;
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: 150px;
  color: white;
  top: 170px;
}

.logo-image {
  width: 100px;
  height: auto;
}

.logo-text {
  font-family: "Norse Bold", sans-serif;
  font-size: 6rem;
  height: auto;
}

.copyright {
  position: absolute;
  bottom: 10px;
  color: white;
  width: inherit;
  height: auto;
  text-align: center;
  font-size: 0.8rem;
}

.content-text {
  max-width: 660px;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0 0 0 40px;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  background-color: #f9fafb;
}

form {
  width: 100%;
  border: 1px solid #f4f5f9;
  box-shadow: 0 4px 5px rgb(210, 210, 210);
  background-color: white;
  padding: 20px 0;
  margin-top: 38px;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 65px;
  max-width: 565px;
  padding: 0 0 0 40px;
}

.form-inputs > p {
  display: flex;
  flex-direction: column;
  margin: 0.6rem 0;
}

.form-inputs input {
  width: 230px;
  height: 25px;
  border: 1.5px solid #E5E7EB;
  border-radius: 3px;
}

.form-inputs input:focus {
  outline: none;
  border: 1px solid #2554d9;
  box-shadow: 3px 3px 5px rgb(220, 220, 220);
}

.form-inputs label {
  font-weight: 600;
  color: #28323f;
  font-size: 0.65rem;
  margin-bottom: 2px;
}

.form-heading {
  color: #1f2937;
  margin-bottom: 8px;
}

button {
  margin-left: 40px;
  padding: 11px 40px;
  background-color: #596D48;
  color: white;
  border: 0;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.log-in {
  margin-left: 40px;
}

.log-in > span {
  color: #596D48;
  font-weight: bold;
}