@font-face {
  font-family: "Norse Bold";
  src: url("./fonts/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.background, .content {
  height: max(100vh, 700px);
}

.background {
  position: relative;
  width: max(35vw, 400px);
}

.content {
  width: 65vw;
}

.bg-image {
  width: inherit;
  height: inherit;
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: 150px;
  color: white;
  top: 160px;
}

.logo-image {
  width: 100px;
  height: auto;
}

.logo-text {
  font-family: "Norse Bold", sans-serif;
  font-size: 6rem;
  height: auto;
}

.copyright {
  position: absolute;
  bottom: 10px;
  color: white;
  width: inherit;
  height: auto;
  text-align: center;
  font-size: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}